<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="com.intel.xdk.notification"
  version="0.0.1">
  <name>Intel XDK Notification</name>
  <description>Intel XDK Notification Plugin</description>
  <license>Apache 2.0</license>
  <keywords>intel,xdk,notification</keywords>

</plugin>
